body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaf8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  text-align: center;
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 90%;
  max-width: 400px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

h2 {
  color: #193659;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 95%;
  padding: 12px;
  background: #193659;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #142e4d;
}

.status-msg {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}
